{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <form class="form" action="/cost" method="post" role="form">
        {{form.csrf_token()}}
        <div class="row">
            <div class="form-group col-md-6">
                {{wtf.form_field(form.filament, class='form-control', placeholder='Filament')}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{wtf.form_field(form.figure, class='form-control', placeholder='Your Figure')}}
            </div>
            <div class="form-group col-md-6">
                {{wtf.form_field(form.variant, class='form-control', placeholder='Variants')}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{wtf.form_field(form.material_used, class='form-control', placeholder='Estimated Material')}}
            </div>
            <div class="form-group col-md-6">
                {{wtf.form_field(form.hour, class='form-control', placeholder='Estimated Time')}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    {% if estimatedCost %}
    <h3>
        Estimated Cost of the product is: {{estimatedCost}}
    </h3>
    {% endif %}

</div>
<script>
    let figure_select = document.getElementById('figure')
    let variant_select = document.getElementById('variant')

    figure_select.onchange = function () {
        figure = figure_select.value;
        fetch('/' + figure + '/variants').then(function (response) {
            response.json().then(function (data) {
                let optionHTML = '';
                for (let variant of data) {
                    optionHTML += '<option value="' + variant.id + '">' + variant.type + '</option>';
                }
                variant_select.innerHTML = optionHTML;
            })
        });
    }

</script>
{% endblock %}