{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    {% if FILAMENT_TYPE_ID %}
    <form class="form" action="/filament_type/{{FILAMENT_TYPE_ID}}" method="post" role="form">
        {% else %}
        <form class="form" action="/figure/create" method="post" role="form">
            {% endif %}
            {{form.csrf_token()}}
            <div class="row">
                <div class="form-group col-md-4">
                    {{wtf.form_field(form.figure_name, class='form-control', placeholder='Figure Name')}}
                </div>
            </div>
            <button type="button" id="addNewField">Add Field</button>
            <div class="row">
                <div class="form-group col-md-4">
                    {{wtf.form_field(form.category, class='form-control', placeholder='Figure Name')}}
                </div>
            </div>
            <div class="row">
                {% for variant in form.variants %}

                <div class="form-group col-md-4">
                    {{wtf.form_field(variant.filament_type, class='form-control', placeholder='Figure Name')}}
                </div>
                <div class="form-group col-md-4">
                    {{wtf.form_field(variant.filament_color, class='form-control', placeholder='Figure Name')}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    {{wtf.form_field(variant.figure_size, class='form-control', placeholder='Figure Name')}}
                </div>
                <div class="form-group col-md-3">
                    {{wtf.form_field(variant.x_axis, class='form-control', placeholder='Figure Name')}}
                </div>
                <div class="form-group col-md-3">
                    {{wtf.form_field(variant.y_axis, class='form-control', placeholder='Figure Name')}}
                </div>
                <div class="form-group col-md-3">
                    {{wtf.form_field(variant.z_axis, class='form-control', placeholder='Figure Name')}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    {{wtf.form_field(variant.price, class='form-control', placeholder='Figure Name')}}
                </div>
                <div class="form-group col-md-4">
                    {{wtf.form_field(variant.count, class='form-control', placeholder='Figure Name')}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    {{wtf.form_field(variant.comment, class='form-control', placeholder='Figure Name')}}
                </div>
            </div>
            {% endfor %}
            {% if FILAMENT_TYPE_ID %}
            <button type="submit" name='action' value='update' class="btn btn-primary">Update</button>
            {% else %}
            <button type="submit" name='action' value='save' class="btn btn-primary">Save</button>
            {% endif %}
            <a href="{{url_for('inventory_bp.filament_home')}}" class="btn btn-primary">
                Back
            </a>
        </form>
    </form>
</div>
<script>
    let filament_type_select = document.getElementById('filament_type')
    let color_select = document.getElementById('filament_color')

    filament_type_select.onchange = function () {
        let filament_type = filament_type_select.value;
        fetch('/' + filament_type + '/filaments').then(function (response) {
            response.json().then(function (data) {
                let optionHTML = '';
                for (let filament of data) {
                    optionHTML += '<option value="' + filament.id + '">' + filament.name + '</option>';
                }
                color_select.innerHTML = optionHTML;
            })
        });
    }

</script>
{% endblock %}