{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    {% if FILAMENT_COLOR_ID %}
    <form class="form" action="/filament_color/{{FILAMENT_COLOR_ID}}" method="post" role="form">
        {% else %}
        <form class="form" action="/filament_color/create" method="post" role="form">
            {% endif %}
            {{form.csrf_token()}}
            <div class="row">
                <div class="form-group col-md-4">
                    {{wtf.form_field(form.filament_color, class='form-control', placeholder='Filament Color Name')}}
                </div>
                <div class="form-group col-md-4">
                    {{wtf.form_field(form.price_per_gram, class='form-control', placeholder='Price')}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    {{wtf.form_field(form.filament_type, class='form-control', placeholder='Filament Type')}}
                </div>
            </div>
            {% if FILAMENT_COLOR_ID %}
            <button type="submit" name='action' value='update' class="btn btn-primary">Update</button>
            {% else %}
            <button type="submit" name='action' value='save' class="btn btn-primary">Save</button>
            {% endif %}
            <a href="{{url_for('inventory_bp.filament_home')}}" class="btn btn-primary">
                Back
            </a>
        </form>
    </form>
</div>
{% endblock %}